.Search-results-list ul {
  padding: 0;
  list-style: none;
}

.Search-results-list-item button {
  text-align: left;
}

.Search-button {
  position: absolute;
  z-index: 1;
  top: 1rem;
  left: 1rem;
}

.Search-tabs {
  margin-bottom: 1rem;
}
